ml-block/example/MLBlockExample.json
[{"id":"aa2200f2.f3abf","type":"debug","z":"a69253c2.88e9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":180,"wires":[]},{"id":"86659d49.4a8f5","type":"ml-loader","z":"a69253c2.88e9a","name":"ML Loader","mtype":"tensorflow","modelurl":"http://localhost:30000/tensorflow/model.json","loaderurl":"http://localhost:30000/loader.py","x":670,"y":240,"wires":[["1178cf72.944cd1"]]},{"id":"f8b72b1f.155a58","type":"mqtt in","z":"a69253c2.88e9a","name":"RemoteData","topic":"ciaone","qos":"2","broker":"ae4ce326.2a2e1","x":150,"y":420,"wires":[["1886ff9e.2d1f5"]]},{"id":"66efe834.1cfc18","type":"debug","z":"a69253c2.88e9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"1178cf72.944cd1","type":"function","z":"a69253c2.88e9a","name":"PrepareOut","func":"let tensorflow = true;\nif (tensorflow) {\n    msg.payload.anomaly = msg.payload.prediction[0] < msg.payload.prediction[1];    \n}\nelse {\n    msg.payload.anomaly = parseFloat(msg.payload.prediction[0]) > 0.5\n}\n\n\nreturn msg;\n\n/*http://localhost:30000/anomalyModel/model.json*/","outputs":1,"noerr":0,"x":830,"y":240,"wires":[["aa2200f2.f3abf","5938bc36.c18f24","e2260b59.02ba78"]]},{"id":"ab64a06d.dc197","type":"mqtt out","z":"a69253c2.88e9a","name":"PublishResults","topic":"ciaone","qos":"2","retain":"false","broker":"ae4ce326.2a2e1","x":1280,"y":300,"wires":[]},{"id":"387b4e2b.8507e2","type":"inject","z":"a69253c2.88e9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":321,"wires":[["597c12e.0b360ec"]]},{"id":"597c12e.0b360ec","type":"function","z":"a69253c2.88e9a","name":"RandomData","func":"function getRandom(max) {\n  return Math.round(Math.random() * Math.floor(max) * 100) / 100;\n}\n\nmsg.payload = {\n    luminosity : getRandom(1000),\n    temperature : getRandom(40),\n    humidity : getRandom(100),\n    loudness : getRandom(130),\n    datetime : new Date()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":321,"wires":[[]]},{"id":"1886ff9e.2d1f5","type":"json","z":"a69253c2.88e9a","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":420,"wires":[["66efe834.1cfc18"]]},{"id":"5938bc36.c18f24","type":"json","z":"a69253c2.88e9a","name":"","property":"payload","action":"str","pretty":false,"x":1010,"y":300,"wires":[["ab64a06d.dc197"]]},{"id":"859bab21.3595f8","type":"function","z":"a69253c2.88e9a","name":"PrepareData","func":"let tensorFlow = true;\nif (tensorFlow) {\n    msg.payload.values = [\n        [msg.payload.luminosity],\n        [msg.payload.temperature],\n        [msg.payload.humidity],\n        [msg.payload.loudness]\n    ];\n    /* shape:[number of samples, shape of the values (e.g 1-D vector of 4 values)*/\n    msg.payload.shape = [1,4,1];\n}\nelse {\n    msg.payload.values = [\n        msg.payload.luminosity,\n        msg.payload.temperature,\n        msg.payload.humidity,\n        msg.payload.loudness\n    ];\n    msg.payload.shape = [-1,4];\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["86659d49.4a8f5"]]},{"id":"69fdadb4.207c34","type":"mqtt in","z":"a69253c2.88e9a","name":"RealData","topic":"ciaone1","qos":"2","broker":"ae4ce326.2a2e1","x":140,"y":120,"wires":[["334f4b0d.e7fda4"]]},{"id":"334f4b0d.e7fda4","type":"function","z":"a69253c2.88e9a","name":"ConvertData","func":"try {\n    let data = JSON.parse(msg.payload);\n    \n    msg.payload = {\n        luminosity : data[3].value,\n        temperature : data[1].value,\n        humidity : data[0].value,\n        loudness : data[2].value,\n        datetime : new Date()\n    };\n}\ncatch (err) {\n    msg.payload = {};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["ef3dbcc2.6c205"]]},{"id":"9229a157.be992","type":"mqtt out","z":"a69253c2.88e9a","name":"Anomaly","topic":"Anomaly","qos":"2","retain":"false","broker":"ae4ce326.2a2e1","x":1300,"y":240,"wires":[]},{"id":"e2260b59.02ba78","type":"function","z":"a69253c2.88e9a","name":"SetAnomaly","func":"if (this.context.get(\"anomaly\") !== msg.payload.anomaly) {\n    this.context.set(\"anomaly\", msg.payload.anomaly);\n    if (msg.payload.anomaly) {\n        msg.payload = 'a';\n    }\n    else {\n        msg.payload = 'k';\n    }\n}\nelse {\n    msg.payload.anomaly = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["fcf7c96e.4cd0d8"]]},{"id":"ef3dbcc2.6c205","type":"switch","z":"a69253c2.88e9a","name":"CheckInputData","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":200,"wires":[["859bab21.3595f8"]]},{"id":"fcf7c96e.4cd0d8","type":"switch","z":"a69253c2.88e9a","name":"","property":"payload.anomaly","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":240,"wires":[["9229a157.be992"]]},{"id":"c75e0e08.ad919","type":"comment","z":"a69253c2.88e9a","name":"Debug Brach","info":"Debug Purposes\n\nIn case the system has to be tested\nwith random data generated ad-hoc,\nconnect the block RandomData of this branch\nto the block PrepareData of main branch.","x":330,"y":280,"wires":[]},{"id":"1a4286e6.a456b9","type":"comment","z":"a69253c2.88e9a","name":"Input Data","info":"From these blocks is possible to obtain\nthe data from connected sersors.","x":340,"y":160,"wires":[]},{"id":"ae4ce326.2a2e1","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]