arduino/gatewayFlow.json
[{"id":"10ea96b5.7bf109","type":"serial in","z":"95f13502.2a3038","name":"From","serial":"a53337b7.684218","x":150,"y":120,"wires":[["7d99c777.fdcdb8"]]},{"id":"1788e1d2.e439de","type":"serial out","z":"95f13502.2a3038","name":"To","serial":"a53337b7.684218","x":470,"y":280,"wires":[]},{"id":"1da85036.76a17","type":"inject","z":"95f13502.2a3038","name":"","topic":"Activate","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["1788e1d2.e439de"]]},{"id":"db8c47a3.7e5a58","type":"inject","z":"95f13502.2a3038","name":"","topic":"deActivate","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["1788e1d2.e439de"]]},{"id":"7d99c777.fdcdb8","type":"mqtt out","z":"95f13502.2a3038","name":"Data","topic":"ciaone1","qos":"","retain":"","broker":"ef9fe9be.cc4698","x":470,"y":120,"wires":[]},{"id":"4ea21bd2.20ee04","type":"mqtt in","z":"95f13502.2a3038","name":"Data","topic":"ciaone1","qos":"2","broker":"ef9fe9be.cc4698","x":150,"y":500,"wires":[["fb087790.6c5cf8"]]},{"id":"fb087790.6c5cf8","type":"debug","z":"95f13502.2a3038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":500,"wires":[]},{"id":"978ea844.b1af28","type":"mqtt in","z":"95f13502.2a3038","name":"","topic":"Anomaly","qos":"2","broker":"ef9fe9be.cc4698","x":160,"y":380,"wires":[["fb087790.6c5cf8","4deb3c43.8dc0a4"]]},{"id":"4deb3c43.8dc0a4","type":"delay","z":"95f13502.2a3038","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":380,"wires":[["1788e1d2.e439de"]]},{"id":"b356780b.a23b48","type":"comment","z":"95f13502.2a3038","name":"Data Acquisition","info":"This branch allow to read data coming\nfrom the serial port and publish them on\nthe MQTT broker with selected topic","x":180,"y":80,"wires":[]},{"id":"1cf70e83.365581","type":"mqtt in","z":"95f13502.2a3038","name":"","topic":"Activation","qos":"2","broker":"ef9fe9be.cc4698","x":180,"y":220,"wires":[["1788e1d2.e439de"]]},{"id":"a4463b3c.bfea28","type":"comment","z":"95f13502.2a3038","name":"Commands","info":"These blocks are meant for controlling\nArduino behaviour.\nIndeed command can be sent both by\nmanual intervention and MQTT packets\ncoming from subscribed topic.","x":170,"y":180,"wires":[]},{"id":"6276060c.60c998","type":"comment","z":"95f13502.2a3038","name":"Debug Subscription","info":"This MQTT subscription is used for debug purposes.","x":190,"y":460,"wires":[]},{"id":"a53337b7.684218","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"100"},{"id":"ef9fe9be.cc4698","type":"mqtt-broker","z":"","name":"Eclipse","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]